body{
    font-family: monospace;
}

.submit-area{
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.transaction-area{
    display: none;
    padding: 50px;
}
.heading{
    /*width: 100%;*/
    background-color: #2F4F4F;
    color: whitesmoke;
    padding: 10px;
    height: 100px;
}
.status{
    color: whitesmoke;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
}

.history{
    background-color: #008B8B;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.common{
    color: gray;
    font-weight: 400;
}

#deposit{
    background-color: tomato;
}
#withdraw{
    background-color: cyan;
}
#balance{
    background-color: salmon;
}
